.App {
  display: flex;
  justify-content: center;
}

.main.container {
  height: 90vh;
  width: 90vh;
  margin: 4rem;
  border: 2px solid black;
  border-style: inset;
  padding: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 2%;
}
